body{
  margin: 0px;
  background-color: #654caa;
}
body>div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.user-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding: 10px;
  background-color: #271c46;
  color: #8e89af;
  margin-bottom: 1px;
}
.user-div span{
  font-size: 0.7em;
}

.user-div img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.user-data{
  display: flex;
  justify-content: ;
  /* align-items: center; */
  flex-direction: column;
  width: 330px;
  padding: 0px 10px;
}
.user-data h3{
  margin: 1px;
}
.user-data p{
  margin: 1px;
  color: #575678
}